version: '3.8'
services:
  app:
    build:
      context: ..
    environment:
      - PORT=8080
      - JAEGER_ENDPOINT=http://jaeger:14268/api/traces
    ports:
      - "8080:8080"
    volumes:
      - ../logs:/app/logs
    networks:
      - obsnet

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - obsnet

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - loki
      - jaeger
    networks:
      - obsnet

  loki:
    image: grafana/loki:2.9.3
    ports:
      - "3100:3100"
    command: ["-config.expand-env=true", "-config.file=/etc/loki/local-config.yaml"]
    networks:
      - obsnet

  promtail:
    image: grafana/promtail:2.9.3
    command: ["-config.file=/etc/promtail/config.yml"]
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml:ro
      - ../logs:/var/log/app:ro
    networks:
      - obsnet

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686" # UI
      - "14268:14268" # OTEL HTTP
    networks:
      - obsnet

networks:
  obsnet:
    driver: bridge
